[Desktop Entry]
Type=Application
Name=DBX
Comment=Lightweight database management tool
Comment[zh_CN]=轻量级数据库管理工具
Exec=/opt/apps/com.dbx.app/files/bin/dbx %U
Icon=com.dbx.app
Terminal=false
Categories=Development;Database;
MimeType=x-scheme-handler/dbx;application/sql;application/vnd.sqlite3;application/x-sqlite3;
StartupNotify=true
X-Deepin-Vendor=user-custom
